---
import Layout from '../layouts/Layout.astro';
import GalPhrase from '../components/GalPhrase.astro';
---

<Layout title="♡ ギャルサイト ♡ - ちょーヤバイ！">
  <!-- Classic marquee header -->
  <marquee behavior="scroll" direction="left">
    ★☆★ ようこそ！超絶カワイイギャルサイトへ ★☆★
  </marquee>
  
  <br />
  
  <!-- Main content table -->
  <table align="center" width="90%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="header-cell" colspan="2">
        <font size="6" color="white">
          <b>♡ ギャルサイト ♡</b>
        </font>
        <br />
        <font size="4" color="yellow">
          ～2000年代の最強ギャルサイト～
        </font>
      </td>
    </tr>
    
    <tr>
      <td class="content-cell" colspan="2" align="center">
        <font size="5" color="#FF1493">
          <b class="blink">✧･ﾟ: *✧･ﾟ:* ちょーヤバイ！ *:･ﾟ✧*:･ﾟ✧</b>
        </font>
        <br /><br />
        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDNMMTYuMDkgMTAuMjZMMjIgNUwxOC43NCAxMS4wOUwyNyAxMkwxOS43NCAxMi45MUwyNSAyMkwxNi4wOSAxOC43NEwxNSAyN0wxMy45MSAxOC43NEw1IDIyTDExLjI2IDEyLjkxTDMgMTJMMTEuMjYgMTEuMDlMOCA1TDEzLjkxIDEwLjI2TDE1IDNaIiBmaWxsPSIjRkZENzAwIi8+Cjwvc3ZnPgo=" alt="★" />
        <font size="4" color="#000">
          ここは2000年代初頭のギャル文化を愛する最強のサイトです！
        </font>
        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDNMMTYuMDkgMTAuMjZMMjIgNUwxOC43NCAxMS4wOUwyNyAxMkwxOS43NCAxMi45MUwyNSAyMkwxNi4wOSAxOC43NEwxNSAyN0wxMy45MSAxOC43NEw1IDIyTDExLjI2IDEyLjkxTDMgMTJMMTEuMjYgMTEuMDlMOCA1TDEzLjkxIDEwLjI2TDE1IDNaIiBmaWxsPSIjRkZENzAwIi8+Cjwvc3ZnPgo=" alt="★" />
      </td>
    </tr>
    
    <tr>
      <td class="content-cell" colspan="2" align="center">
        <GalPhrase />
      </td>
    </tr>
    
    <tr>
      <td class="header-cell" width="50%">
        <font size="4" color="white">
          <b>✨ 特徴 ✨</b>
        </font>
      </td>
      <td class="header-cell" width="50%">
        <font size="4" color="white">
          <b>🌟 コンセプト 🌟</b>
        </font>
      </td>
    </tr>
    
    <tr>
      <td class="content-cell">
        <font size="3" color="#000">
          <b>
            • 超絶キラキラデザイン<br />
            • ランダムギャル語表示<br />
            • アニメーション満載<br />
            • 2000年代テイスト<br />
          </b>
        </font>
      </td>
      <td class="content-cell">
        <font size="3" color="#000">
          <b>
            • ギャル文化リスペクト<br />
            • ノスタルジック体験<br />
            • 可愛さ100%<br />
            • エモーショナル<br />
          </b>
        </font>
      </td>
    </tr>
    
    <tr>
      <td class="content-cell" colspan="2" align="center">
        <hr color="#FF69B4" size="3" />
        <font size="3" color="#000">
          <b>キラキラ☆ギラギラなデザインで<br />
          あなたをアゲアゲ気分にしちゃいます♪</b>
        </font>
        <hr color="#FF69B4" size="3" />
      </td>
    </tr>
  </table>
  
  <br />
  
  <!-- Classic footer -->
  <table align="center" width="80%" cellpadding="5" cellspacing="0" style="border: 2px solid #000; background-color: #000;">
    <tr>
      <td align="center">
        <font size="2" color="#FFD700">
          <b class="blink">Made with ♡ for all ギャル lovers</b>
        </font>
        <br />
        <font size="1" color="#00FFFF">
          Astro × TailwindCSS × TypeScript
        </font>
      </td>
    </tr>
  </table>
  
  <br />
  
  <!-- Classic visitor counter look -->
  <center>
    <font size="1" color="white">
      <b>あなたは</b>
      <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjMDAwIi8+Cjx0ZXh0IHg9IjEwIiB5PSIxNSIgZm9udC1mYW1pbHk9IkFyaWFsLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjE0IiBmaWxsPSIjRkZENzAwIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj4xPC90ZXh0Pgo8L3N2Zz4K" alt="1" />
<img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjMDAwIi8+Cjx0ZXh0IHg9IjEwIiB5PSIxNSIgZm9udC1mYW1pbHk9IkFyaWFsLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjE0IiBmaWxsPSIjRkZENzAwIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj4zPC90ZXh0Pgo8L3N2Zz4K" alt="3" />
<img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjMDAwIi8+Cjx0ZXh0IHg9IjEwIiB5PSIxNSIgZm9udC1mYW1pbHk9IkFyaWFsLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjE0IiBmaWxsPSIjRkZENzAwIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj4zPC90ZXh0Pgo8L3N2Zz4K" alt="3" />
<img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjMDAwIi8+Cjx0ZXh0IHg9IjEwIiB5PSIxNSIgZm9udC1mYW1pbHk9IkFyaWFsLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjE0IiBmaWxsPSIjRkZENzAwIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj43PC90ZXh0Pgo8L3N2Zz4K" alt="7" />
      <b>人目のお客様です♡</b>
    </font>
  </center>
</Layout>